version: 2


updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: Europe/Paris
    open-pull-requests-limit: 10

  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
      time: "05:00"
      timezone: Europe/Paris
    open-pull-requests-limit: 10